{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}Refinement page{% endblock %}

{% block content %}
    <h1>Yours Refinements</h1>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>date</th>
                <th>status</th>
                <th>results</th>
                <th>info</th>

            </tr>
            </thead>
            <tbody>
            {% for r in refinements %}

                <tr>

                    <td>{{ r.name }}</td>
                    <td>{{ r.description }}</td>
                    <td>{{ r.created }}</td>
                    <td>{{ r.results.last.status }}</td>
                    <td>{% if r.results.last.zip_file %}<a href="{{ r.results.last.zip_file.url }}">Download</a>{% endif %}</td>
                    <td>{{ r.results.last.error_msg }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


{% endblock content %}