{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}Refinement page{% endblock %}

{% block content %}
    <h1>Refinements</h1>

    <form method="post" action="{% url 'refinements' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn">Send</button>
    </form>
    <div class="row mt-3"></div>
{% endblock content %}