{% extends 'base.html' %}


{% block title %}Refinement page{% endblock %}

{% block content %}
    <h1>Refinement</h1>

    <div>Status: {{ refinement.results.last.status }}</div>


{% endblock content %}