{% extends 'base.html' %}
{% load static %}
{% block title %}About page{% endblock %}

{% block content %}
    <header>
        <h2 style="text-align: center">Welcome to the NoMoRe server!</h2>
        <div class="row">
            <div class="col-md-4">
                <img class="" src="{% static 'images/2.png' %}" alt="NoMoRe Logo" width="80%">
            </div>
            <div class="col-md-4">
                <img class="" src="{% static 'images/1.png' %}" alt="NoMoRe Logo" width="100%">
            </div>
            <div class="col-md-4">
                <img class="" src="{% static 'images/3.png' %}" alt="3" width="80%">

            </div>
        </div>

    </header>
    <sec class="row">
        <section>
            <h4>What is Normal Mode Refinement?</h4>
            <p>Normal Mode Refinement (<i>NoMoRe</i>) is a completely new modelling approach, which enables the
                refinement
                of
                frequencies of normal modes evaluated using <i>ab-initio</i> periodic computations against single
                crystal
                diffraction data. In this approach instead of refining anisotropic displacement parameters (ADPs) as in
                routine
                X-ray refinement, we are refining only few frequencies related to low-frequency modes, which corresponds
                to
                the
                external vibrations of molecule.</p>
            <p>Schematic workflow of our method is presented in <strong>Scheme 1</strong>. The frequencies, which are
                obtained
                after the refinement, enable calculation of thermodynamic properties.</p>
            <p><img src="{% static 'images/4.gif' %}" width="492" height="364" alt="4"></p>
            <p><strong>Scheme 1.</strong> Schematic workflow with Normal Mode Refinement (<i>NoMoRe</i>).</p>
        </section>
        <section>
            <h4>What are advantages of using <i>NoMoRe</i></h4>
            <ol>
                <li>
                    <p>With fewer parameters we can obtain results of very similar quality as the standard ADP
                        refinements</p>
                </li>
                <li>
                    <p>Obtained frequencies can be used for evaluation of thermodynamic properties (heat capacity,
                        vibrational
                        entropy and enthalpy contributions to free energy)</p>
                </li>
                <li>
                    <p>H atom ADPs in very good agreement with neutron value</p>
                </li>
            </ol>
            <h4>For more details related to <i>NoMoRe</i> see:</h4>
            <ol>
                <li>
                    <p>Hoser A. A., Madsen A. Ø., <i><strong>Acta Cryst A</strong></i> 2016, A72, 206-214</p>
                </li>
                <li>
                    <p>Hoser A. A., Madsen A. Ø., <i><strong>Acta Cryst A</strong></i> 2017, A73, 102-114</p>
                </li>
                <li>
                    <p>Kofoed, P. M., Hoser, A. A., Diness, F., Capelli, S. C., Madsen, A. Ø., <i><strong>IUCrJ</strong></i>,
                        2019</p>
                </li>
            </ol>
        </section>
        <section>
            <h4>How to run <i>NoMoRe</i>?</h4>
            <p>Because calculations can be time-consuming we decided to create an accounts for users. After
                calculations, the results will be available from the user account in the dashboard section.
            </p>
            <p>
                Plese create  an
                account and sign in with Login/Sign up section on the top right corner of screen.
            </p>
            <p>
                After login in the menu two new options will appear
            <ol>
                <li>Dashboard - hence, you will be able to download the results file</li>
                <li>Add - form for ordering new calculations</li>
            </ol>

            </p>

            <p>In order to start NoMoRe three files are needed:</p>
            <ol>
                <li>
                    <p>Results of periodic ab-initio Gamma point frequency calculations - from CRYSTAL09 or CRYSTAL14 or
                        CRYSTAL17 – input for such calculations can be generated by cif2crystal program (<a
                                href="http://shade.ki.ku.dk/docs/cif2crystal.html">http://shade.ki.ku.dk/docs/cif2crystal.html</a>)
                    </p>
                </li>
                <li>
                    <p>Structure factors files in shelx format (hkl file)</p>
                </li>
                <li>
                    <p>Input file for shelx (.ins file)</p>
                </li>
            </ol>

            <p><a href="{% static 'docs/example_files_for_nomore.zip' %}">Here</a> are examples of input files </p>
            <p>
                In addition, the following fields are available in the form.
                <i>(Those with a default value are required.)</i>
            </p>
            <ul>
                <li>
                    name and descroption - for identification purposes
                </li>
                <li>
                    <p>others parameters like: (temperature, number of refined frequencies)</p>
                </li>
            </ul>

            <p>Please find manual <a href="{% static 'docs/NoMoRe_web.pdf' %}" target="_blank">here</a></p>
        </section>
        <section>
            <h4>Important</h4>
            <p>Please notice that this server is in development. Your comments and bug reports will be greatly
                appreciated
                and
                we will try to respond quickly with an updated version. We recommend that you critically inspect the
                resulting
                ADPs using a visualization program, e.g. Ortep, Platon, Mercury or Peanut.</p>
            <p>Bug reports, requests for improvements and all other sorts of comments are greatly appreciated and should
                be
                sent
                to <a href="mailto:nomore_help@chem.uw.edu.pl">nomore_help@chem.uw.edu.pl</a></p>
        </section>
        <section>
            <h4>Contact</h4>
            <p><strong>Anna A. Hoser</strong></p>
            <p>University of Warsaw,</p>
            <p>Chemistry Department</p>
            <p>e-mail:
                <a href="mailto:a.hoser@uw.edu.pl">
                    a.hoser@uw.edu.pl
                </a>
            </p>
            <p>
                <a href="https://crystal.chem.uw.edu.pl/people/wozniaks-group/staff/hoser/">
                    https://crystal.chem.uw.edu.pl/people/wozniaks-group/staff/hoser/
                </a>
            </p>
            <p><strong>Anders</strong> <strong>Ø. Madsen</strong></p>
            <p>University of Copenhagen</p>
            <p>Department of Pharmacy</p>
            <p>e-mail:
                <a href="mailto:a.madsen@sund.ku.dk">
                    a.madsen@sund.ku.dk
                </a>
            </p>
            <p>
                <a href="https://pharmacy.ku.dk/employees/?pure=en/persons/10976">
                    https://pharmacy.ku.dk/employees/?pure=en/persons/10976
                </a>
            </p>
            </section>
            <section>
                <h4>Founding</h4>
                <p>Foundation for Polish Science</p>
                <p>Villum Foundation</p>

            </section>

            </div>

{% endblock content %}